# API and Data Fetching
requests

# Kafka Integration
confluent-kafka

# Spark
pyspark==3.5.6

# Environment Variables
python-dotenv

# Logging and Utilities
loguru

#yahoo finance
yfinance

minio

fastparquet
pyarrow